/**
!cmd/
!pkg/
!scripts/
!web/
!assets/
assets/**
!assets/cores/
!assets/cores/melondslan_libretro.so
!assets/games/
!assets/games/nds/
!assets/games/nds/blocksds-local-multiplayer.nds
!go.mod
!go.sum
!LICENSE
!Makefile
